@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

body {
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-bottom: 200px;
}

#translated {
  font-size: 3rem;
}

h1 {
  font-size: 7rem;
  font-family: 'Smooch', cursive;
  text-shadow: 2px 2px 8px #f11717;
  background-color: rgb(255, 230, 0);
}

button {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 24px;
  color: #FFD700;
  background-color: #800020;
}

footer {
  font-size: 4rem;
  padding: 2rem;
  font-family: 'Smooch', cursive;
}

.butcherPig {
  width: 12rem;
}

.userInput {
  border-radius: .5rem;
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

.inputArea {
  background-color: #606060;
  color: #fff;
  border-radius: .5rem;
  padding: 1rem;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput{
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
